config.stopBubbling = true

lombok.accessors.fluent = true
lombok.accessors.chain = true

lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

lombok.getter.noIsPrefix = true

lombok.nonNull.exceptionType = NullPointerException
lombok.nonNull.flagUsage = warning

lombok.val.flagUsage = warning
lombok.var.flagUsage = error
